# Build Folders
Debug/
Release/
build/
out/

# STM32CubeIDE metadata
.settings/
.cproject
.project
.loadpath

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
!.vscode/settings.json
!.vscode/extensions.json

# Compiler / build artifacts
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.lst
*.su
*.gcno
*.gcda

# Backup files
*.bak
*.orig
